table .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.modal > div .modal-title > span .btn-sm {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  line-height: 1rem;
}

.modal > div .btn-sm {
  padding: 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}